<section class="home">
    <article>
        <div class="studio">
            <div class="image" id="oasis">
            </div>
            <a ng-href="#/schedule/oasis/44lsg34a">Yoga Oasis</a>
        </div>
        <div class="studio">
            <div class="image" id="session">
            </div>
            <a href="">Session Yoga</a>
        </div>
        <div class="studio">
            <div class="image" id="tucson">
            </div>
            <a href="">Yoga Tucson</a>
        </div>
        <div class="studio">
            <div class="image" id="avenue">
            </div>
            <a href="">4th Avenue Yoga</a>
        </div>
        <div class="studio">
            <div>
                <a href=""></a>
            </div>
        </div>
        <div class="studio">
            <div>
                <a href=""></a>
            </div>
        </div>
        <div class="studio">
            <div>
                <a href=""></a>
            </div>
        </div>
        <div class="studio">
            <div>
                <a href=""></a>
            </div>
        </div>
        <div class="studio">
            <div>
                <a href=""></a>
            </div>
        </div>
    </article>
</section>
